body {
  background-color: #282c34;
  font-family: Futura;
  color: #fff;
  font-size: 16pt;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

input, select {
  font-size: 12pt;
}

.grid {
  display: grid;
  grid-template-columns: 202px auto auto auto auto auto auto 70px;
  grid-template-rows: 35px;
  grid-auto-rows: 108px;
  row-gap: 5px;
  text-align: left;
}

.grid-center {
  align-self: center;
}

.return_title {
  grid-column: span 2;
  padding: 5px;
}

.return_title1 {
  grid-column: span 1;
  padding: 5px;
}

header {
  background-color: #313742;
  padding: 4px;
  display: flex;
  justify-content: space-between;
  font-size: 20pt;
  position: fixed;
  top: 0;
  width: 100%;
}

footer {
  bottom: 0;
  width: calc(100% - 10px);
  background-color: #313742;
  text-align: right;
  padding: 5px;
  display: flex;
  font-size: 9pt;
  position: fixed;
}

input {
  border-radius: 5px;
  background-color: rgb(71, 73, 94);
  border: rgb(92, 92, 105) 1px solid;
  box-shadow: RGB(29, 77, 149) 0px 0px 3px 0px inset;
  color: rgb(204, 204, 204);
  padding: 0.2em;
  box-sizing: border-box;
  transition: 0.3s linear;
}

input:focus {
  box-shadow: rgb(102, 102, 102) 0px 0px 3px 0px inset, rgb(102, 153, 255) 0px 0px 3px 0px;
}

select {
  background-color: rgb(71, 73, 94);
  border: rgb(92, 92, 105) 1px solid;
  box-shadow: RGB(29, 77, 149) 0px 0px 3px 0px inset;
  color: rgb(204, 204, 204);
  -webkit-appearance: none;
  background-image: url(../assets/arrow_down.png);
  background-position: right;
  background-repeat: no-repeat;
  background-size: 1.5em;
  padding: 0.2em;
  padding-right: 0.5em;
  min-width: 86px;
  box-sizing: border-box;
  border-radius: 5px;
  transition: 0.3s linear;
}

#status,
#WSstatus {
  border-radius: 100%;
  width: 15px;
  height: 15px;
  margin-left: 7px;
}

#info {
  flex: 1;
  text-align: left;
}

.red {
  background-color: #ff0000;
}

.orange {
  background-color: #ffa500;
}

.green {
  background-color: #00ff00;
}

#tabsButs button {
  height: 100%;
  margin: 0;
  border: 0;
  background-color: #4a4a50;
  color: #fff;
  font-size: 12pt;
  padding: 10px;
  border-left: 2px solid #313742;
  cursor: pointer;
  box-shadow: none;
  border-radius: 0;
}

#tabsButs {
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  padding: 0;
  margin: 0;
  display: flex;
}

main {
  max-height: calc(100% - 2em);
  padding-top: 2em;
  overflow: hidden;
  padding-bottom: 1em;
}

.mainCont {
  display: none;
}

.mainCont.active {
  display: block;
  height: 100%;
}

#publicCont,
#publicTotCont,
#judgeCont {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.pubTotals,
.judgeTotals {
  background-color: #2f3646;
  margin: 20px;
  border-radius: 10px;
  border: 1px solid rgb(50, 50, 52);
  text-align: left;
  margin-right: 0px;
  margin-top: 0px;
  min-width: 350px;
  height: min-content;
  overflow: hidden;
}

.controlCont {
  margin: 20px;
  margin-right: 0;
  display: flex;
  justify-content: space-between;
}

.controlFlex {
  display: grid;
  grid-auto-flow: column;
  column-gap: 10px;
}

.pubTitle {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

button {
  background-color: rgb(71, 73, 94);
  border: rgb(92, 92, 105) 1px solid;
  box-shadow: RGB(29, 77, 149) 0px 0px 3px 0px inset;
  color: rgb(204, 204, 204);
  padding: 0.2em 0.5em;
  box-sizing: border-box;
  border-radius: 5px;
  transition: 0.3s linear;
  font-size: 12pt;
  cursor: pointer;
}

th {
  border-bottom: rgba(26, 79, 151, 0.15) solid 4px;
  padding: 10px;
  font-weight: bold;
  border-top: none;
  position: sticky;
  padding-right: 10px;
  margin: 0;
  font-size: 16px;
  line-height: 1;
  top: 0;
  background-color: rgb(50, 50, 52);
  color: rgb(225, 225, 225);
  z-index: 1;
}

table {
  width: 100%;
  font-size: 11pt;
}

button:hover {
  background-color: #5284af;
  color: #fff;
}

.pushButJudge, .l3rdPush, .l3rdQPush, .identPush {
  background-color: #005617;
}

.pullButJudge, .l3rdPull, .l3rdQPull, .identPull {
  background-color: #500000;
}

td:first-of-type {
  text-align: left !important;
}

#scoresCont {
  padding-right: 15px;
  overflow: auto;
}

#clearAll,
#clear {
  float: right;
}

#scoresCont td {
  text-align: center;
}

#scoresCont tfoot tr td {
  text-align: right !important;
}

#lthirdCont, #identsCont {
  padding: 20px;
  overflow: scroll;
}

.l3rdCont, .identCont {
  padding: 10px;
  padding-left: 5px;
  border-radius: 10px;
}

.l3rdCont.pushed, .identCont.pushed {
  background-color: #008600;
}

.l3rdCont > *, .identCont > * {
  margin-right: 10px;
  padding: 10px;
}

tr.pushed {
  background-color: #005617 !important;
}

#lthirdContainer, #identsContainer {
  display: flex;
}

#lthirdQuiz {
  display: table;
  margin: 20px;
  display: none;
}

#lthirdQuiz > * {
  display: table-row;
}

#lthirdQuiz > * > * {
  display: table-cell;
}

/* cyrillic-ext */
@font-face {
  font-family: 'Futura';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/futura-cyrillic-ext.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Futura';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/futura-cyrillic.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Futura';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/futura-vietnamese.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Futura';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/futura-latin-ext.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Futura';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/futura-latin.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}



/* cyrillic-ext */
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/roboto-cyrillic-ext.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/roboto-cyrillic.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek */
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/roboto-greek.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/roboto-vietnamese.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/roboto-latin-ext.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/roboto-latin.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}